@model List<UserViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Kullanıcılar Listesi</h1>

<div class="container">
    <div class="row">
        <div class="col-md-1"><h3>Sıra No</h3></div>
        <div class="col-md-2"><h3>Adı</h3></div>
        <div class="col-md-2"><h3>Soyadı</h3></div>
        <div class="col-md-2"><h3>Eposta</h3></div>
        <div class="col-md-3"><h3>Doğum Tarihi</h3></div>
        <div class="col-md-2">@Html.ActionLink("Yeni Kullanıcı","Add","User",null, new {@class = "btn btn-primary"})</div>
    </div>
    @foreach (var user in Model)
    {
        <div class="row">
            <div class="col-md-2"><h3>@user.Id</h3></div>
            <div class="col-md-2"><h3>@user.Name</h3></div>
            <div class="col-md-2"><h3>@user.Surname</h3></div>
            <div class="col-md-3"><h3>@user.Email</h3></div>
            <div class="col-md-3"><h3>@user.BirthDate</h3></div>
            <div class="col-md-2"><a href="Get?id=@user.Id" class="btn btn-info">Detay</a></div>
            @*<div class="col-md-2">@Html.ActionLink("Detay","Get","User", new {id = user.Id }, new {@class = "btn btn-info" })</div>*@
        </div>
    }
</div>